@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #9b59b6;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 500px;
    max-width: 100%;
}

.header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    border-bottom: 1px solid #f0f0f0;
}

.header h2 {
    margin: 0px;
}

.form {
    padding: 30px 40px;
}

.form-controle {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-controle label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-controle input {
    display: block;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-controle input:focus {
    outline: 0;
    border-color: #777;
}

.form-controle.success input {
    border-color: #2ecc71;
}

.form-controle.error input {
    border-color: #e74c3c;;
}

.form-controle i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-controle.success i.check_circle {
    color: #2ecc71;
	visibility: visible;
}

.form-controle.error i.exclamtion {
    color: #e74c3c;
    visibility: visible;
}

.form-controle small {
    color: #e74c3c;
    position: absolute;
    bottom: 0px;
    left: 0px;
    visibility: hidden;
}

.form-controle.error small {
    visibility: visible;
}

.form button {
    background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}